# vim: set filetype=fish:
# ANSIBLE-MANAGED CONFIGURATION FILE

################################################################################
# GENERAL OPTIONS
################################################################################

# suppress the default login help message
set fish_greeting

################################################################################
# SET ALIASES
################################################################################

{% for func in fish_command_functions %}
# {{ func.descrip }}
function {{ func.name }}
  {{ func.body }}
end

{% endfor %}
