# vim: set filetype=fish:
# ANSIBLE-MANAGED CONFIGURATION FILE

################################################################################
# GENERAL OPTIONS
################################################################################

# suppress the default login help message
set fish_greeting

################################################################################
# SET ALIASES
################################################################################

{% for alias in command_aliases %}
{{ '# '  }}{{ alias.descrip }}
{{ 'alias ' }}{{ alias.entry }}

{% endfor %}
